:root {
  --background-color: #F4F5F8;
  --text-color: #16191A;
  --text2-color: #4B5563;
  --red-color: #FF7171;
  --red-light-color: #ff717126;
  --green-color: #32B158;
  --green-light-color: #32b15826;
  --blue-color: #5F8EEA;
}